.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #1476de;
  color: white;
}

.display {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 28px;
  color: #311fde;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bookname {
  color: #000;
}

.remove {
  background-color: #de1b14;
  color: #fff;
  border-radius: 8px;
  margin-left: 65%;
}

.hr {
  color: purple;
}

.books {
  border: 1px solid #28ff;
  border-radius: 3px;
  box-shadow: 0 8px 9px -6px black;
}

.add-book {
  float: right;
}
